<Layouts.app flash={@flash}>
	<div class="columns is-centered">
		<div class="column is-4">
			<.modal id="modal-new-game">
				<div class="columns buttons are-large">
					<div class="column">
						<button class="button is-primary is-fullwidth">Public</button>
					</div>
					<div class="column">
						<button class="button is-link is-fullwidth">Private</button>
					</div>
				</div>
			</.modal>
			<button class="button is-primary is-large is-fullwidth" phx-click={JS.add_class("is-active", to: "#modal-new-game")}>
				New Game
			</button>
		</div>
	</div>
</Layouts.app>
